<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body>
    {{#if flash}}
      <div>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
      </div>
    {{/if}}
    {{{body}}}
  </body>
</html>
